body{
    background-image: url("ironman2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.fo1, .fo2{
    color: white;
    margin-left: 500px;
    background-color: rgba(14,24,12,0.5);
    width: 350px;
}
td{
    padding: 5px;
}
.w3-container{
    margin: 0 auto;
}