form{
    padding-left: 50px;
    width: 400px;
    margin-left: 400px;
    background-color: rgba(15, 15, 17, 0.55);
    border: 1px solid black;
    box-shadow: 5px 5px 5px whitesmoke;

}
body{

    background-image: url("Marvels-Spider-Man-4K-7.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
h2{
    text-align: center;
    color: yellow;
    text-shadow: 5px 5px 5px brown;
}
td{
    color: white;
    padding: 10px;
}
p{
    color: white;
}
a{
    color: yellow;
    text-decoration: none;
    margin-left: 100px;
}